* {
  /*border: 1px solid gold;*/
  /*color: black;*/
}

@media only screen and (max-width: 830px) {
  #logo {
    display: none;
  }
  #menu {
    margin-bottom:20%;
  }

  .row {
    display: inline-block;
  }

  .contact {
    display: block;
    margin: 0 auto;
  }

  #myGit, #myLinkedIn, #myGAProfile {
    display: inline-block;
  }

}


a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
    color: black;
}

body {
  /*background-image: url('./img/pexels-photo-14676.png');*/
  font-family: 'Shadows Into Light Two', cursive;
  /*font-family: 'Waiting for the Sunrise', cursive;*/
  /*font-family: 'Bubbler One', sans-serif;*/
}

h2 {
  text-align: center;
  font-size: 40px;
}

#main-jumbo {
/*background-image: url('./img/pexels-photo-14676.png');*/
color: black;
height: 10%;
width: 100%;
}

.main-title {
  color: #d90075;
  font-weight: bolder;
  width: 100%;
  margin-top: 4%;
}

.row {
 align-items: center;
 justify-content: center
}

#photoCol {
margin-left: 20%;

}


#myPic {
  height: 70%;
  width: 70%;
  margin-top: 10%;
  /*z-index: -1;
  position: relative;*/
}
.titleAbout {
  margin-top: 10%;
  text-align: center;
  color: #d90075;
  font-weight: bolder;
}

.aboutMe {
margin-top: 10%;
line-height: 1.5;
}
.titleProj {
  color: #d90075;
  text-align: center;
  margin-top: 8%;
}


.email {
  text-align: center;
}


.contact {
  margin-top: 10%;
  text-align: center;
  color: #d90075;
  font-weight: bolder;
}

.contactBlurb {
  text-align: center;
  color: black;
  font-weight: bolder;
}
 /*carousel style*/

/*#carouselExampleIndicators{
	margin: 0 auto;

}*/
.carousel  {
  background-color: #4f535d;
}

.carousel-caption {
    position: relative;
    left: auto;
    right: auto;
}

.carousel-caption a, p {
  color: white;
}

.extraClass {
    font-size: 3rem;
    color: #d90075;
    cursor: pointer;
}

.carousel-inner img {
  height: 40%;
  width: 30%;
  padding-top: 3em;
  display: block;
  margin-left: auto;
  margin-right: auto;

}

 #myGit, #myLinkedIn, #myGAProfile, {
    margin: 0 auto;
    align-items: center;
    position: relative;
    font-size: 3rem;
    color: black;
    font-weight: bolder;
    text-align: center;
    cursor: pointer;
    display: block;
}

/*#contact a {
  font-size: 100px;
}*/

#logo {
    font-family: 'Open Sans', sans-serif;
    color: #d90075;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 150px;
    font-weight: 800;
    letter-spacing: -3px;
    line-height: 1;
    text-shadow: #EDEDED 3px 2px 0;
    position: relative;
    left: 3%;
  }
  #logo:after {
    content:"Samantha Ramos";
    position: absolute;
    left: 8px;
    top: 32px;
  }
  #logo:after {
    background: url(https://subtlepatterns.com/patterns/crossed_stripes.png) repeat;
    background-image: -webkit-linear-gradient(left top, transparent 0%, transparent 25%, #555 25%, #555 50%, transparent 50%, transparent 75%, #555 75%);
    background-size: 4px 4px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    z-index: -5;
    display: block;
    text-shadow: none;
  }

  #menu {
    width: 100%;
    height: 100px;
    list-style: none;
    margin: 0 auto;
    padding: 25px 10px;
    /*border-top: 4px double #AAA;
    border-bottom: 4px double #AAA;*/
    position: relative;
    justify-content: center;
    text-align: center;
    font-family: 'Shadows Into Light Two', cursive;

  }
  #menu li {
    display: inline-block;
    width: 173px;
    margin: 0 10px;
    position: relative;
    -webkit-transform: skewy(-3deg);
    -webkit-backface-visibility: hidden;
    -webkit-transition: 200ms all;
  }
  #menu li a {
    text-transform: uppercase;
    font-family: 'Shadows Into Light Two', cursive;
    font-weight: 800;
    display: block;
    background: #FFF;
    padding: 2px 10px;
    color: #333;
    font-size: 35px;
    text-align: center;
    text-decoration: none;
    position: relative;
    z-index: 1;
    text-shadow:
          1px 1px 0px #FFF,
          2px 2px 0px #999,
          3px 3px 0px #FFF;
      background-image: -webkit-linear-gradient(top, transparent 0%, rgba(0,0,0,.05) 100%);
      -webkit-transition: 1s all;
      background-image: -webkit-linear-gradient(left top,
          transparent 0%, transparent 25%,
          rgba(0,0,0,.15) 25%, rgba(0,0,0,.15) 50%,
          transparent 50%, transparent 75%,
          rgba(0,0,0,.15) 75%);
    background-size: 4px 4px;
      box-shadow:
          0 0 0 1px rgba(0,0,0,.4) inset,
          0 0 20px -5px rgba(0,0,0,.4),
          0 0 0px 3px #FFF inset;
  }
  #menu li:hover {
      width: 203px;
      margin: 0 -5px;
  }
  #menu a:hover {
    color: #d90075;
  }
  #menu li:after,
  #menu li:before {
    content: '';
    position: absolute;
    width: 50px;
    height: 100%;
    background: #BBB;
    -webkit-transform: skewY(8deg);
    x-index: -3;
      border-radius: 4px;
  }
  #menu li:after {
      background-image: -webkit-linear-gradient(left, transparent 0%, rgba(0,0,0,.4) 100%);
    right: 0;
    top: -4px;
  }
  #menu li:before {
    left: 0;
    bottom: -4px;
      background-image: -webkit-linear-gradient(right, transparent 0%, rgba(0,0,0,.4) 100%);
  }

  /*block shadow lettering code from: https://codepen.io/Dreamdealer*/
